<div class="geral" fxLayout="row" fxLayoutAlign="center center">
  <!-- LOGIN -->

  <div class="login">
    <form class="login-formulario" [formGroup]="loginForm">
    <img src="../../../../../assets/logo2.png" style="width: 200px" alt="Ícone de Home" class="img"/>

      <h1 class="login-titulo">Faça seu login</h1>
      <div fxLayout="column" fxLayoutAlign="center">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input type="password" matInput formControlName="password" />
        </mat-form-field>

        <div fxLayout="column" fxLayoutAlign="space-between center">
          <button
            mat-flat-button
            [disabled]="this.loginForm.invalid"
            color="primary"
            class="button"
            (click)="login()"
          >
            Login
          </button>
          <button mat-button class="button">Esqueceu a Senha</button>
        </div>
      </div>
    </form>
  </div>

  <!-- IMAGEM -->
  <div class="imagem">
    <img
      src="../../assets/teste.jpg"
      alt="2 programadores"
      style="width: 100%; height: 100vh"
    />
  </div>
</div>
