<div class="geral">
  <!-- MENU -->
  <div class="menu">
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="logo">DataVerse</span>
      <div class="titulo">
        <p class="titulo-texto">Cadastro de chamados</p>
      </div>
    </mat-toolbar>
  </div>

  <!-- IMAGEM TESTE -->
  <img src="../../assets/img.jfif" class="imagem" />

  <!-- STATUS -->
  <div class="status">
    <div>
      <mat-card class="status-card">
        <mat-card-header fxLayout="column" fxLayoutAlign="center center">
          <div class="card-info">
            <p>Em andamento</p>
            <p>0</p>
          </div>
        </mat-card-header>
      </mat-card>
    </div>
    <div>
      <mat-card class="status-card">
        <mat-card-header fxLayout="column" fxLayoutAlign="center center">
          <div class="card-info">
            <p>Encerrados</p>
            <p>0</p>
          </div>
        </mat-card-header>
      </mat-card>
    </div>
  </div>

  <!-- FORULÁRIO -->
  <div class="formulario" fxLayout="row" fxLayoutAlign="center center">
    <form class="formulario-cadastro" [formGroup]="cadastroForm">
      <!-- buscar informações do usuário -->
      <div>
        <mat-form-field class="formulario-field">
          <mat-label>Usuário</mat-label>
          <input
            matInput
            placeholder="Ex. Fulano"
            formControlName="usuario"
            readonly
          />
        </mat-form-field>
        <mat-form-field class="formulario-field">
          <mat-label>Setor</mat-label>
          <input
            matInput
            placeholder="Ex. Contabilidade"
            formControlName="setor"
            readonly
          />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="formulario-field">
          <mat-label>Tipo do chamado</mat-label>
          <mat-select formControlName="tipoChamado">
            @for (tipoChamado of tipoChamado; track tipoChamado) {
            <mat-option [value]="tipoChamado.value">{{
              tipoChamado.viewValue
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <div>
          <mat-form-field class="formulario-field resumo-textarea">
            <mat-label>Resumo</mat-label>
            <textarea
              matInput
              placeholder="Ex. Fale sobre o que acontenceu"
              formControlName="resumo"
              name="oi"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="space-around center"
        class="button-div"
      >
        <button
          mat-flat-button
          color="primary"
          class="button"
          [disabled]="this.cadastroForm.invalid"
          (click)="onClick()"
        >
          Salvar
        </button>
        <button mat-flat-button color="warn" class="button" (click)="reset()">
          Limpar
        </button>
      </div>
    </form>
  </div>
</div>
